form {
    margin-left: auto;
    margin-right: auto;
     margin-top: 20px;
     background-color:rgb(77, 130, 168);
     min-height:200px;
     width:50%;
     border-radius:6px;
     color: azure;
     padding: 100px;
 
     label {
     display: inline-block;
     text-align: right;
     width: 40px;
     margin-left: auto;
     margin-right: auto;
     padding-right: 10px;
     }
     select {
       display: inline-block;
       text-align: left;
       width: 35%;
       margin-left: auto;
       margin-right: auto;
     }
     input {
        display: inline-block;
        text-align: left;
        width: 150px;
        margin-left: auto;
        margin-right: auto;
      }
   }
 
   form {
     padding:22px;
   }
   .button {
     background-color:#1f549e;
     padding:12px;
     color:azure;
     font-weight:bold;
     margin-top:20px;
     margin-left: 130px;
     border-radius:6px;
 
     &:hover {
         opacity: 0.9;
         cursor:pointer;
     }
   }
 