body {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 18%, rgba(0,212,255,1) 100%);
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
.content {
  max-width:900px;
  margin:0 auto;
}

.content h2 {
  color:slategrey;
  font-weight:bold;
  text-align:center;
}

.delete {
background-color:#f7d6d9;
min-height:100px;
margin:0 auto;
}

.p-delete {
  color:#8f333b;
  padding:16px;
}
